 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-family: "Adobe Caslon Pro", Georgia, serif;
  font-size: 62.5%;

}

.hero-unit {
  position: relative;
  margin: 50px auto 0 auto;
  width: 900px;
  background-color: yellow;
  font-size: 18px;
  font-weight: 200;
  border: 3px dashed green;
  line-height: 30px;
  font-family: Helvetica;
  border-radius: 6px;
  padding: 60px;
  h3 {
    font-size: 30px;
    line-height: 1;
    color: orange;
    letter-spacing: -1px;
  }
}

.fight {
  display: none;
  position: relative;
  background-color: yellow;


}

#game-over{
  position: absolute;
  margin-top: -400px;
  font-size: 55px;
  color: white;
  width: 695px;
  margin-left: 40px;
  height: 400px;
  display: none;
  background-color: gray;
  border: 3px dashed yellow;

}
.arena{
  border: 4px solid orange;
  width: 90%;
  margin-top: 40px;
  height: 400px;
  margin-left: 5%;

}
.game-over-message{
  font-color: white;
  font-size: 45px;
  text-align: center;
  margin-top: 40px;
  line-height: 60px;
}
.good-area{
  position: absolute;
  width: 300px;
  border: 3px solid red;
  margin-top: -460px;
  margin-left: 435px;
  .ggName{
  margin-top: 2px;
  text-align: center;
  border: 2px dashed gray;

}
}
.bad-area{
  margin-top: -460px;
  width: 300px;
  margin-left: 38px;
  border: 3px solid red;
  position: absolute;
.bbName{
  text-align: center;
  margin-top: 2px;
  border: 2px dashed gray;
}
}
#fight{
  position: absolute;
  border: 2px dashed red;
  margin-top: -100px;
  margin-left: 300px;
  .bbName{
  margin-top: -100px;
  margin-left: 250px;
  }
}
